html {
    margin: 0;
    padding: 0;
    font-size: 22px;
    
}

a {
    color: inherit;
}

.strong {
    margin: 0;
    font-weight: 600;
    text-align: justify;
}

section {
    margin: 30px;
}

body {
    font-weight: 300;
    background: rgb(168,149,168);
background: radial-gradient(circle, rgba(168,149,168,0.7791491596638656) 2%, rgba(154,175,189,0.41780462184873945) 100%);

}

header {
    font-size: 1.25rem;
    padding: 0;
    background: #ebebeb;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#logo img{
    height: 50px;
    padding-left: 15px;
    padding-top: 15px;
}

#menubtn {
    display: none;
}

#menubtn img {
    height: 100%;
    width: auto;
}

nav ul {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between
}

nav li {
    list-style-type: none;
    text-transform: uppercase;
}

nav li.current {
    text-decoration: underline;
    font-weight: 600;
}

.heading {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: 500;
    font-style:unset;
}

main, .wrapper{
    background: #1e1f30;
    color: #ebebeb;
    height: 100%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10%;
}
 #linkcontact{
  
    height: 40%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    text-align: center;
    
   
}
#projects{
    background: #1e1f30;
    color: #ebebeb;
    height: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10%;
}

#work-grid {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 80px;
    margin-bottom: 20px;
}

.grid-box {
    background: #1e1f30;
    height: 9rem;
    width: 8rem;
    margin: 6px;

}

.grid-box img {
    width: 100%;
}

.grid-box:hover{
    transform: scale(1.25);
}

.grid-box:last-child{
    background: #1e1f30;
    color: #ebebeb;
    text-align: center;
    padding-top: 5%;
}

#about {

    display: flex;
    flex-wrap: wrap;
}

#about .img-container {
    width: 20%;
    margin-right: 30px;
    padding: 10px;
}

.title-container{
    width: 50%;
    text-decoration: underline;
}

#about .wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content, .toolkit-container {
    width: 85%;
    margin:auto;
}


#about img {
    width: 100%;
    border-radius: 50%;
}

#contact {
    padding: 30px;
    margin: auto;
    color:black;
}


footer {
    font-size: .75rem;
    font-weight: 600;
    background: #ebebeb;
    color: #1e1f30;
    text-align: center;
    padding: 10px;
    margin: 0;
}


/*------MEDIA QUERIES-------*/

@media screen and (max-width: 770px){
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #logo img{
        height: 2rem;
        margin: 30px;
        margin-right: 0;
    }

    nav ul {
        display: none;
    }
    
    #menubtn {
        display: block;
        margin: 25px;
        margin-left: 0;
        padding-right: 5px;
        height: 50px;
    }
    
    #menubtn > img {
        float: right;
    }
}